.icons-media {
  position: fixed;

  top: 190px;
  right: 0px;
  z-index: 4;
  display: flex;
}

.icons-media__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.pulse {
  position: relative;
}

.icons-1::after,
.pulse-1::before {
  content: "";
  position: absolute;
  border: 2px solid #1b7fd0;
  left: -25px;
  right: -25px;
  bottom: -25px;
  top: -25px;
  border-radius: 50%;
  opacity: 0;
  animation: pulse 5s linear infinite;
}

.pulse-1::before {
  animation-delay: 0.3s;
}

@keyframes pulse {
  0% {
    webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0;
  }
}

.icons-1 {
  background-color: #1b7fd0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.icons-2 {
  background-color: #1b7fd0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 20px 0;
}
.icons-3 {
  background-color: #013056;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.icons-media .icons-3 img {
  width: 80px;
}

.icons img {
    width: 45px;
}
