.price {
  /* background-image: url(../img/main_bg_prise.png);
  background-position: center;
  background-repeat: no-repeat; */
  position: relative;
}

.container-fluid__fon {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 99%;
  background-position: center;
}

.price__text-container {
  margin: 20px 0 40px;

  padding: 0;
  display: flex;
  position: relative;
}

.price__text-container img {
  width: 26px;
  position: absolute;
  top: 0px;
  left: 55%;
}

.price__text {
  background-color: #caddea;
  display: flex;
  align-items: center;
}

.price__text h2 {
  display: inline-block;
  font-size: 22px;
  text-transform: uppercase;
  color: #1b7fd0;
  font-weight: 700;
  font-family: "Roboto";
  text-align: left;
  margin-left: 25px;
  display: flex;
  align-items: center;
}

.price__text span:nth-child(1) {
  font-size: 49px;
  letter-spacing: -5px;
  text-transform: uppercase;
  color: #dd0000;
  font-weight: 700;
  font-family: "Roboto";
  margin-right: 5px;
}
.price__text span:nth-child(2) {
  font-size: 37px;
  text-transform: uppercase;
  color: #dd0000;
  font-weight: 400;
  font-family: "Roboto";
  margin-right: 5px;
}
.price__text span:nth-child(3) {
  font-size: 35px;
  text-transform: uppercase;
  color: #dd0000;
  font-weight: 400;
  font-family: "Roboto";
  margin-right: 5px;
}

.price__text-2::before {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-top: 35px solid #caddea;
  border-right: 35px solid transparent;
  position: absolute;
  top: 55px;
}

@media screen and (max-width: 991px) {
  .price__text-3 h2 {
    font-size: 13px;
  }

  .price__text-2::before {
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 35px solid #caddea;
    border-right: 35px solid transparent;
    position: absolute;
    top: 41px;
  }

  .price__text-container img {
    width: 21px;
    position: absolute;
    top: 0px;
    left: 55%;
  }
  .price__text span:nth-child(1) {
    font-size: 39px;
    letter-spacing: -5px;
    text-transform: uppercase;
    color: #dd0000;
    font-weight: 700;
    font-family: "Roboto";
    margin-right: 5px;
  }

  .price__text span:nth-child(2) {
    font-size: 31px;
    text-transform: uppercase;
    color: #dd0000;
    font-weight: 400;
    font-family: "Roboto";
    margin-right: 5px;
  }

  .price__text span:nth-child(3) {
    font-size: 28px;
    text-transform: uppercase;
    color: #dd0000;
    font-weight: 400;
    font-family: "Roboto";
    margin-right: 5px;
  }
}

@media screen and (max-width: 767px) {
  .price__text-container .price__text-3-h2 {
    font-size: 10px;
  }
  .price__text-2::before {
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 29px solid #caddea;
    border-right: 35px solid transparent;
    position: absolute;
    top: 26px;
  }
  .price__text-container img {
    width: 17px;
    position: absolute;
    top: 0px;
    left: 55%;
  }
  .price__text h2 {
    display: inline-block;
    font-size: 17px;
    text-transform: uppercase;
    color: #1b7fd0;
    font-weight: 700;
    font-family: "Roboto";
    text-align: left;
    margin-left: 25px;
    display: flex;
    align-items: center;
  }
  .price__text span:nth-child(1) {
    font-size: 30px;
    letter-spacing: -5px;
    text-transform: uppercase;
    color: #dd0000;
    font-weight: 700;
    font-family: "Roboto";
    margin-right: 5px;
  }
  .price__text span:nth-child(2) {
    font-size: 24px;
    text-transform: uppercase;
    color: #dd0000;
    font-weight: 400;
    font-family: "Roboto";
    margin-right: 5px;
  }
  .price__text span:nth-child(3) {
    font-size: 22px;
    text-transform: uppercase;
    color: #dd0000;
    font-weight: 400;
    font-family: "Roboto";
    margin-right: 5px;
  }
}

@media screen and (max-width: 575px) {
  .price__text-2::before {
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 29px solid #caddea;
    border-right: 35px solid transparent;
    position: absolute;
    top: 23px;
    left: 1px;
  }
}

.option {
  margin: 0 0 50px 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.select {
  width: 100%;
  padding: 10px;
}

.label__text {
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
  text-align: left;
}

.option-text {
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.option-text span {
  font-size: 48px;
  line-height: 45px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
}

.option-text-2 {
  font-size: 26px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
}

.option-text-2 {
  position: relative;
  display: flex;

  align-items: flex-end;
}

.option-text-2 p {
  text-align: center;
  padding: 5px 0;
  width: 100%;
  background-color: #dd0000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-text-2::before {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-top: 35px solid #dd0000;
  border-right: 35px solid transparent;
  position: absolute;
  top: 50px;
}

@media screen and (max-width: 991px) {
  .option {
    margin: 0 0 50px 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .option-text-2::before {
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 35px solid #dd0000;
    border-right: 35px solid transparent;
    position: absolute;
    top: 33px;
  }
}

@media screen and (max-width: 767px) {
  .price__text-container {
    margin: 12px 0 19px;
    padding: 1px;
    display: flex;
    position: relative;
  }

  .select {
    width: 100%;
    padding: 4px;
  }
  .label__text {
    font-size: 11px;
    line-height: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
    text-align: left;
  }

  .option-text-2 p {
    font-size: 15px;
    text-align: center;
    padding: 5px 0;
    width: 100%;
    background-color: #dd0000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .option-text-2::before {
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 35px solid #dd0000;
    border-right: 35px solid transparent;
    position: absolute;
    top: 38px;
  }
  .option-text span {
    font-size: 30px;
    line-height: 45px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
  }
}

@media screen and (max-width: 575px) {
  .option {
    margin: 0 0 50px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .price__text {
    padding: 5px;
    background-color: #caddea;
    font-size: 28px;
    text-transform: uppercase;
    color: #1b7fd0;
    font-weight: 700;
    font-family: "Roboto";
    text-align: left;
  }
  .option-text-2::before {
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 35px solid #dd0000;
    border-right: 35px solid transparent;
    position: absolute;
    top: 18px;
  }
}
